.cards-container {
    height: 63%;
}

.card {
    display: inline-block;
    width: 200px;
    height: 80%;
    max-height: 370px;
    margin: 1%;
    box-sizing: border-box;
    vertical-align: top;
    transition: 0.3s;
}

.photo {
    height: 40%;
    box-sizing: border-box;
    margin-top: 2vh;
    border-radius: 50%;
}

.name {
    height: 13%;
    box-sizing: border-box;
    margin-top: 1vh;
    padding-bottom: 2vh;
    font-size: 20pt;
}

.post {
    height: 15%;
    box-sizing: border-box;
    padding-bottom: 3%;
    border-bottom: 2px solid #eda191;
    font-size: 10pt;
}

.description {
    height: 27%;
    box-sizing: border-box;
    margin-top: 10%;
    border-top: 2px solid #5b9c88;
    font-size: 10pt;
    position: relative;
}

.description-text {
    position: absolute;
    left: 7%;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
}

.red {
    border: 7px solid #eda191;
    background-color: #e6655f;
}

.red:hover {
    background-color: #eda191;
    transition: 0.3s;
}

.green {
    border: 7px solid #47dcc8;
    background-color: #008081;
}

.green:hover {
    background-color: #47dcc8;
    transition: 0.3s;
}

.green:hover img {
    background-color: #008081;
    transition: 0.3s;
}

.green:hover .description {
    border-top: 2px solid #47dcc8;
    transition: 0.3s;
}

.border-white {
    border: 4px solid white;
}

.background-green {
    background-color: #334960;
}

.small-card {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 1%;
    vertical-align: top;
    text-align: center;
    transition: 0.3s;
}

.small-card:hover {
    height: 230px;
    transition: 0.3s;
}

.small-card:hover .small-description {
    height: 30px;
    font-size: 16pt;
    color: #9ba066;
    transition: 0.3s;
}

.small-card:hover .small-photo {
    height: 74%;
    transition: 0.3s;
}

.small-card:hover .border-yellow {
    border: 5px solid #9ba066;
    transition: 0.3s;
}

.small-photo {
    box-sizing: border-box;
    margin: 7%;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    transition: 0.3s;
}

.small-description {
    font-size: 0pt;
    height: 0%;
}

.yellow {
    border: 7px solid #f7ffb4;
    background-color: #9ba066;
}

.yellow:hover {
    background-color: #f7ffb4;
}

.border-yellow {
    border: 5px solid #f7ffb4;
}