.logo-container,
.navigation-container {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.navigation-container {
    text-align: right;
}

.logo {
    display: inline-block;
    box-sizing: border-box;
    padding: 2% 0px 0px 25%;
}

.navigation {
    box-sizing: border-box;
    padding-right: 10%;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-size: 12pt;
    margin: 0%;
    padding: 40px 10px 10px;
    height: 70px;
    transition: 0.3s;
}