html,
body {
    width: 100%;
    margin: 0;
    font-size: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.header {
    height: 10%;
}

.main {
    height: 90%;
    text-align: center;
}

#welcome-screen {
    height: 100vh;
    background-color: #334960;
}

#stuff-screen {
    height: 100vh;
    background-color: #f17c72;
}

#services-screen {
    height: 100vh;
    background-color: #32ac97;
}

#clients-screen {
    height: 100vh;
    background-color: #c3ca7d;
}

#welcome-screen-title {
    height: 40%;
    box-sizing: border-box;
    padding-top: 210px;
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
}

#stuff-screen-title {
    height: 20%;
    box-sizing: border-box;
    padding-top: 60px;
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
}

#other-screen-title {
    height: 20%;
    box-sizing: border-box;
    padding-top: 60px;
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
}

.blue-hover:hover {
    background-color: #3f9fc9;
}

.red-hover:hover {
    background-color: #e6655f;
}

.green-hover:hover {
    background-color: #008081;
}

.yellow-hover:hover {
    background-color: #9ba066;
}

#background-green {
    display: inline-block;
    padding: 1px 9px;
    background-color: #32ac98;
}

#background-purple {
    display: inline-block;
    padding: 1px 9px;
    background-color: #7f4c75;
}

#lorem-ipsum {
    height: 15%;
    font-size: 12pt;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

#red-text {
    color: #fc2f3a;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #6dc0c8;
}