html,
body {
    width: 100%;
    margin: 0;
    font-size: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    overflow-x: hidden;
}

#welcome-screen,
#stuff-screen,
#services-screen,
#clients-screen {
    height: 100vh;
}

.header {
    display: flex;
}

.main {
    height: 90vh;
    text-align: center;
}

.welcome-screen-color {
    background-color: #334960;
}

.stuff-screen-color {
    background-color: #f17c72;
}

.services-screen-color {
    background-color: #32ac97;
}

.clients-screen-color {
    background-color: #c3ca7d;
}

#welcome-screen-title,
#other-screen-title {
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    box-sizing: border-box;
}

#welcome-screen-title {
    padding-top: 150px;
    height: 45%;
}

#other-screen-title {
    box-sizing: border-box;
    padding-top: 70px;
    height: 22%;
}

.blue-hover:hover {
    background-color: #3f9fc9;
}

.red-hover:hover {
    background-color: #e6655f;
}

.green-hover:hover {
    background-color: #008081;
}

.yellow-hover:hover {
    background-color: #9ba066;
}

#background-green,
#background-purple {
    display: inline-block;
    box-sizing: border-box;
    padding: 1px 9px;
}

#background-green {
    background-color: #32ac98;
}

#background-purple {
    background-color: #7f4c75;
}

#lorem-ipsum {
    height: 15%;
    font-size: 12pt;
    font-weight: 500;
    margin: 0;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

#red-text {
    color: #fc2f3a;
}

 ::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    background: white;
}

 ::-webkit-scrollbar-thumb {
    background: #6dc0c8;
}

@media (max-width:858px) {
    #stuff-screen,
    #services-screen,
    #clients-screen {
        height: 150vh;
    }
}

@media (max-width:480px) {
    #stuff-screen,
    #services-screen,
    #clients-screen {
        height: 160vh;
    }
}