html,
body {
    width: 100%;
    margin: 0;
    font-size: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.header {
    height: 10vh;
}

.main {
    height: 90vh;
    text-align: center;
    background: inherit;
}

#welcome-screen,
#stuff-screen,
#services-screen,
#clients-screen {
    height: 100vh;
    background-color: #334960;
}

#stuff-screen {
    background-color: #f17c72;
}

#services-screen {
    background-color: #32ac97;
}

#clients-screen {
    background-color: #c3ca7d;
}

#welcome-screen-title,
#other-screen-title {
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

#welcome-screen-title {
    padding-top: 20vh;
    height: 45%;
}

#other-screen-title {
    padding-top: 10vh;
    height: 22%;
}

.blue-hover:hover {
    background-color: #3f9fc9;
}

.red-hover:hover {
    background-color: #e6655f;
}

.green-hover:hover {
    background-color: #008081;
}

.yellow-hover:hover {
    background-color: #9ba066;
}

#background-green,
#background-purple {
    display: inline-block;
    box-sizing: border-box;
    padding: 1px 9px;
}

#background-green {
    background-color: #32ac98;
}

#background-purple {
    background-color: #7f4c75;
}

#lorem-ipsum {
    height: 15%;
    font-size: 12pt;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

#red-text {
    color: #fc2f3a;
}

 ::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    background: white;
}

 ::-webkit-scrollbar-thumb {
    background: #6dc0c8;
}

.bottom-triangle {
    width: 9vh;
    height: 9vh;
    background: inherit;
    position: relative;
    top: -4.5vh;
    left: 47.5vw;
    transform: rotateZ(45deg);
}